
.content
{
    padding: 5x;

    font-size: larger;
    font-weight: 500;
}
.todo
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
}
.col_in
{
    flex: 1;
    padding:16px;
    margin: 8px;
    border: 1px solid white;
    border-radius:0px;
    
}
.btn
{
    display: flex;
    justify-content: center;
    align-items: center;
}